/*
 *
 * Session room stylesheet
 *
 */


.sidebar-nav-fixed {
  background-color: #333;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-right: 5px;
  position:fixed;
  left:0px;
  top:0px;
  width:260px;
  height: 100%;
  color: #F2F2F2;
}

.row-fluid > .span-fixed-sidebar {
  padding-right: 20px;
  margin-left: 330px;
}

.name-list {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 200px;
  height: 100px;
  background-color: black;
  border: 3px solid red;
}

.now-playing-text {
  padding-bottom: 6px;
}

.sidebar-song-artist {
  color: #EAEAEA;
}

