.sidebar-nav-fixed {
  padding: 9px 0;
  position:fixed;
  left:20px;
  top:60px;
  width:250px;
}

.row-fluid > .span-fixed-sidebar {
  margin-left: 290px;
}

.name-list {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 200px;
  height: 100px;
  background-color: black;
  border: 3px solid red;
}

