/*
 *
 * Session room stylesheet
 *
 */

.ads-container {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 90px;
  width: 728px;
  z-index: 20;
  border-top: 5px solid black;
  border-left: 5px solid black;
}

.ads-container:hover {
  z-index:200000;
}

.reserve-ads-area {
  margin-bottom: 95px;
}

.sample-ads {
  height: 90px;
  width: 728px;
  background-color: red;
}

.search-result-table tr {
  background-color: white;
}

.banner {
  position: relative;
  top: -25px;
  font-size: 14px;
  color: #999;
}

.banner span {
  margin-left: 50px;
  font-weight: lighter;
  font-size: 7px;
  color: #666;
  text-transform: capitalize;
}

.banner span img {
  position: relative;
  margin-left: 3px;
  bottom: 4px;
  height: 16px;
}

.background {
  position: fixed;
  background: url(../img/music.jpg);
  background-size: 450px auto;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  top: 30px;
  right: 0px;
  z-index: -10;
}

.room-name {
  float: left;
  margin-right: 20px;
}

.room-name span {
  text-transform: uppercase;
}

.top-area {
  display; inline;
}

.top-area .invite-code {
  position: relative;
  top: 3px;
  float: right;
  z-index: 1000;
}

.form-search {
  position: relative;
  top: 8px;
}

.sidebar-nav-fixed {
  background: url(../img/dinpattern-stripe.gif);
  background-color: #222;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding-right: 30px;
  position:fixed;
  left:0px;
  top:0px;
  width:450px;
  height: 100%;
  color: #F2F2F2;
  box-shadow: 2px 2px 3px #888;
  z-index: 100000;
}

.row-fluid > .span-fixed-sidebar {
  padding-right: 20px;
  margin-left: 530px;
}

.now-playing-text {
  padding-bottom: 6px;
}

.sidebar-song-artist {
  padding-left: 5px;
  font-size: 13px;
  color: #8F8F8F;
}

.sidebar-song-album {
  color: #8F8F8F;
}

.sidebar-album-cover {
  height: 90px;
  width: 90px;
  float:left;
  padding-top:15px;
  margin-right: 10px;
}

.top-buttons {
  margin-top: 10px;
  height: 30px;
}

.top-buttons .control-buttons {
  float: left;
}

.top-buttons .action-buttons {
  float: right;
}

.timer {
  position: relative;
  top: 5px;
  font-weight: lighter;
  padding-left: 10px;
  font-size: 20px;
  padding-top: 9px;
  color: #8F8F8F;
}

.queue table thead tr td h6 {
  font-size: 9px;
}

.queue table {
  table-layout: fixed;
  color: #DADADA;
  font-size: 12px;
}
.queue table tbody tr td {
  border-top: 1px solid #333;
}

.song-link {
  color: #DADADA;
}

a.song-link:hover {
  color: #DADADA;
}

.queue-container {
  position: relative;
  border-radius: 5px;
  height:100%;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 550px;
}

.queue {
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 5px solid #444;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 700px;
}

.queue-song-name {
  overflow: hidden;
  white-space: nowrap;
  width: 45%;
}

.table-condensed td.queue-song-artist {
  padding-left: 10px;
}

.queue-song-artist {
  overflow: hidden;
  white-space: nowrap;
  width: 30%;
}

.queue-song-actions {
  width: 25%;
}

.table-condensed td.queue-song-actions {
  padding-left: 10px;
}

.queue .table tbody tr:hover td, .queue .table tbody tr:hover th {
  background-color:#133962;
}

.queue .table tbody tr td.queue-song-actions .action-buttons {
  visibility: hidden;
}

.queue .table tbody tr:hover td.queue-song-actions .action-buttons {
  visibility: visible;
}

.tooptip {
  font-size: 11px;
}

.tooltip.in {
  opacity: 0.95;
}

.tooltip .tooltip-inner {
  background-color: #131C62;
  border: 2px solid black;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  font-weight: bold;
  text-align: left;
}

.search-result-table {
  margin-top: 10px;
}
.search-result-text {
  font-size: 13px;
}

.search-result-text span {
  margin-left: 3px;
  text-transform: none;
  font-size: 17px;
  color: #222;
}

.search-result-song {
  width: 42%;
}

.search-result-artist {
  width: 20%;
}

.search-result-album {
  width: 25%;
}

.search-result-actions {
  width: 13%;
}

.search-result-table tbody tr .action-buttons {
  visibility: hidden;
}

.search-result-table tbody tr:hover .action-buttons {
  visibility: visible;
}

.hide {
  display: none;
}

.guest-list {
  position: fixed;
  bottom: 75px;
  right: 0px;
  width: 200px;
  height: auto;
}

a.accordion-toggle:hover {
  text-decoration: none;
}

.guest-list .accordion-group {
  background-color: #222;
  background: url(../img/dinpattern-stripe.gif);
}

.guest-list .accordion-body {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 400px;
}

.guest-list .accordion-inner {
  background-color: #E4E4E4;
}

.guest-list .accordion-inner hr {
  border-top: 1px solid #888;
  border-bottom: 1px solid #777;
}

.guest-list .accordion-heading{
  text-align: center;
}

.login .accordion-group {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 130px;
  border: none;
  z-index: 10000;
}

.login .accordion-heading {
  border: none;
  text-align: center;
}

.login .accordion-inner {
  background-color: #E4E4E4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-top: 13px;
  padding-bottom: 1px;
}

.login h6 {
  font-weight: normal;
  text-transform: capitalize;
  font-size: 15px;
  color: #08C;
}

.login a:hover {
  color: #005580;
}

#invite-code {
  display: block;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.2;
  filter: alpha(opacity=80);
}

.modal.fade.in {
  top: 60%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
}

.modal {
  width: auto;
  left: 75%;
}

.modal-header {
  background-color: #7788D5;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
}

.modal-body {
  text-align: center;
}
