<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bling Musiq</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Social music experience.">
    <meta name="author" content="Bling Labs">

    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    {% block css %}
    {% endblock %}

    <script type="text/javascript" src="http://static.firebase.com/v0/firebase.js"></script>
  </head>
  <body>
    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-transition.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-tab.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-popover.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-button.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap-typeahead.js') }}"></script>
    <script>var db = new Firebase('{{ firebase_url }}');</script>
    {% block js %}
    {% endblock %}
  </body>
</html>
