{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/front.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ super() }}
<form id="name-form" method="post" class="well">
  <label><h1>Room Name</h1></label>
  <input id="name" name="name" type="text" class="span3" placeholder="Coolest room evars."><br>
  <button id="name-form-submit" type="submit" class="btn btn-large btn-primary">Join</button>
</form>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/firebase/front.js') }}"></script>
{% endblock %}

