{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/room.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">

  <div class="row-fluid row">
    <div class="span3">
      <div class="well sidebar-nav-fixed">

        <h6 class="now-playing-text">Now Playing...</h6>
        <div class="sidebar-album-cover">
          <img style="" src="http://image.shutterstock.com/display_pic_with_logo/2423/2423,1107829047,1/stock-photo--d-render-of-a-gold-dollar-sign-with-wings-139724.jpg"/>
        </div>
        <h3 class="sidebar-song-title">Song Title ft. Bling Labs and Nobody</h3>
        <em class="sidebar-song-artist">- Some ballig artist</em>

        <div class="control-buttons">
          <a class="btn btn-primary"><i class="icon-step-backward icon-white"></i></a>
          <a class="btn btn-primary"><i class="icon-pause icon-white"></i></a>
          <a class="btn btn-primary"><i class="icon-step-forward icon-white"></i></a>
          <a class="btn btn-danger"><i class="icon-remove icon-white"></i></a>
          <a class="btn btn-warning"><i class="icon-star icon-white"></i></a>

        </div>

        <div class="queue-container">
          <div class="queue">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td class="queue-song-name"><h6>Song</h6></td>
                  <td class="queue-song-artist"><h6>Artist</h6></td>
                  <td class="queue-song-actions"></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="queue-song-name">
                    <a href="#" class="song-link" rel="tooltip" title="Call me maybe super long version that overflows">
                      Call me maybe super long version that overflows
                    </a>
                  </td>
                  <td class="queue-song-artist">
                    <a href="#" class="song-link" rel="tooltip" title="Dont know but this may overflow">
                      Dont know but this may overflow
                    </a>
                  </td>
                  <td class="queue-song-actions">
                    <div class="action-buttons">
                      <a class="btn btn-mini btn-success">
                        <i class="icon-ok icon-white"></i>
                      </a>
                      <a class="btn btn-mini btn-danger">
                        <i class="icon-remove icon-white"></i>
                      </a>
                      <a class="btn btn-mini btn-warning">
                        <i class="icon-star icon-white"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!-- div.queue -->
        </div><!-- div.queue-container -->

      </div><!--/.well -->
    </div><!--/span-->

    <div class="span7 span-fixed-sidebar">
      <div class="span10">
        <h1>You are in room {{ room }}</h1>
        <br>
        <form id="search-form" class="form-search">
          <input id="search-box" type="text" class="input-large search-query span12" placeholder="Search for a song, album, or artist" name="search-box">
        </form>

        <ul class="nav nav-pills">
          <li id="search-result-tab"><a href="#search-result-content" data-toggle="tab">Search Result</a></li>
          <li id="view-playlist-tab"><a href="#view-playlists-content" data-toggle="tab">View Playlists</a></li>
        </ul>

        <div class="content-box">
          <div class="tab-content">
            <div class="tab-pane" id="search-result-content">
              <h6 class="search-result-text">
                Search Results Matching: <span>some searches</span>
              </h6>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Song</th>
                    <th>Artist</th>
                    <th>Album</th>
                  </tr>
                </thead>
                <tbody id="song-list">
                </tbody>
              </table>
            </div> <!-- /.search-result -->
            <div class="tab-pane" id="view-playlists-content">
              playlist
            </div> <!-- /.playlists -->
          </div> <!-- /.tab-content -->
        </div>


      </div><!--/span10 -->
    </div>

  </div><!--/container row-->

  <div class="name-list">
    <ul class="unstyled">
      Guest List
      <li>test</li>
      <li>another test</li>
      <li>test</li>
    </ul>
  </div>

  <hr>

  <footer>
    <p>&copy; Bling Labs2012</p>
  </footer>

{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/app/room.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app/tooltip.js') }}"></script>
{% endblock %}

