{% extends 'base.html' %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='css/room.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">

  <div class="row-fluid row">
    <div class="span3">
      <div class="well sidebar-nav-fixed">
      {% include 'room_sidebar_control.html' %}
      {% include 'room_sidebar_queue.html' %}
      </div><!--/.well -->
    </div><!--/span-->

    <div class="span7 span-fixed-sidebar">
      <div class="span11">

        <div class="login">
          <div class="accordion" id="login-accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#login-accordion" href="#login-accordion-content">
                  <h6>Login</h6>
                </a>
              </div>
              <div id="login-accordion-content" class="accordion-body collapse">
                <div class="accordion-inner">
                  <form id="login-form" class="form-inline">
                    <input name="username-input" id="username-input" type="text" class="input-small" placeholder="Email/Username">
                    <input id="password-input" name="password-input"  type="password" class="input-small" placeholder="Password">
                    <label class="checkbox">
                      <input type="checkbox"> Remember me
                    </label>
                    <button type="submit" class="btn">Sign in</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="well">
          <div class="top-area">
            <h2 class="room-name">Welcome to room: <span>{{ room }}</span></h2>
            <a data-toggle="modal" href="#invite-code" class="btn btn-primary invite-code">Invite</a>
          </div>
          <form id="search-form" class="form-search">
            <input id="search-box" type="text" class="input-large search-query span12" placeholder="Search for a song, album, or artist" name="search-box">
          </form>
        </div> <!-- /.well -->

        <ul class="nav nav-pills">
          <li id="search-result-tab"><a href="#search-result-content" data-toggle="tab">Search Results</a></li>
          <li id="view-library-tab"><a href="#view-library-content" data-toggle="tab">Library</a></li>
          <li id="view-playlist-tab"><a href="#view-playlists-content" data-toggle="tab">Playlists</a></li>
        </ul>


        <div class="content-box">
          <div class="tab-content">
            <div class="tab-pane" id="search-result-content">
              <h6 class="search-result-text">
                Search Results Matching: <span></span>
              </h6>
              <table class="search-result-table table table-striped table-condensed">
                <thead>
                  <tr>
                    <th class="search-result-song">Song</th>
                    <th class="search-result-artist">Artist</th>
                    <th class="search-result-album">Album</th>
                    <th class="search-result-actions"></th>
                  </tr>
                </thead>
                <tbody id="song-list">
                </tbody>
              </table>
            </div> <!-- /.search-result -->
            <div class="tab-pane" id="view-playlists-content">
              playlist
            </div> <!-- /.playlists -->
            <div class="tab-pane" id="view-library-content">
              <h4>Jonathan's Library</h4>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="library-song">Song</th>
                    <th class="library-artist">Artist</th>
                    <th class="library-album">Album</th>
                  </tr>
                </thead>
                <tbody id="library-list">
                </tbody>
              </table>
            </div> <!-- /.library -->
          </div> <!-- /.tab-content -->
        </div>


      </div><!--/span10 -->
    </div>

  </div><!--/container row-->

  <div class="guest-list">
    <div class="accordion" id="guest-accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#guest-accordion" href="#guest-list-accordion">
            <h6>Guest List</h6>
          </a>
        </div>
        <div id="guest-list-accordion" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="unstyled" id="guest-list">
            </ul>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Bling Labs2012</p>
  </footer>


  <section id="modals">
    <div id="invite-code" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Scan and Join!</h3>
      </div>
      <div class="modal-body">
        <div id="qrcode"></div>
      </div>
  </section>

{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/app/guest.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app/search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app/auth.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app/tooltip.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
  var href_room = 'http://air.local:5000/m' + window.location.pathname;
  console.log(href_room);
  $('#qrcode').qrcode({width:400, height:400, text:href_room});
})
</script>
{% endblock %}

