<audio id="player" src=""></audio>

<div class="sidebar-album-cover">
  <img style="" src="http://image.shutterstock.com/display_pic_with_logo/2423/2423,1107829047,1/stock-photo--d-render-of-a-gold-dollar-sign-with-wings-139724.jpg"/>
</div>
<h4 class="sidebar-song-artist">Some ballig artist</h4>
<h3 class="sidebar-song-title">Song Title ft. Bling Labs and Nobody</h3>
<h5 class="sidebar-song-album">Some awesome album</h5>


<div class="top-buttons">
  <div class="control-buttons">
    <a class="btn btn-primary"><i class="icon-step-backward icon-white"></i></a>
    <a class="btn btn-primary"><i class="icon-pause icon-white"></i></a>
    <a class="btn btn-primary"><i class="icon-step-forward icon-white"></i></a>
  </div>
  <div class="action-buttons">
    <a class="btn btn-success"><i class="icon-thumbs-up icon-white"></i></a>
    <a class="btn btn-danger"><i class="icon-thumbs-down icon-white"></i></a>
    <a class="btn btn-warning"><i class="icon-star icon-white"></i></a>
  </div>
</div>
