<div class="queue-container">
  <div class="queue">
    <table class="table table-condensed">
      <thead>
        <tr>
          <td class="queue-song-name"><h6>Song</h6></td>
          <td class="queue-song-artist"><h6>Artist</h6></td>
          <td class="queue-song-actions"></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="queue-song-name">
            <a href="#" class="song-link" rel="tooltip" title="Call me maybe super long version that overflows">
              Call me maybe super long version that overflows
            </a>
          </td>
          <td class="queue-song-artist">
            <a href="#" class="song-link" rel="tooltip" title="Dont know but this may overflow">
              Dont know but this may overflow
            </a>
          </td>
          <td class="queue-song-actions">
            <div class="action-buttons">
              <a class="btn btn-mini btn-success">
                <i class="icon-thumbs-up icon-white"></i>
              </a>
              <a class="btn btn-mini btn-danger">
                <i class="icon-thumbs-down icon-white"></i>
              </a>
              <a class="btn btn-mini btn-warning">
                <i class="icon-star icon-white"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> <!-- div.queue -->
</div><!-- div.queue-container -->
